body {

}

.content-wrapper {
  margin-top: 56px;
  padding: 25px;
  height: calc(100vh - 56px);
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper.no-flex {
  display: block;
}

.form-signin {
  width: 100%;
  padding: 5px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
} 

#search-form {
  max-width: 350px;
}

#search-form button {
  width: 100%;
}

#progress img {
  display: block;
  margin: 30px auto;
}

#graph {
  width: calc(100vw - 50px);
  height: calc(100vh - 185px);
  border: 1px solid grey;
  margin-bottom: 15px;
  margin-top: 5px;
}

.run-another {
  text-align: center;
  margin-top: 15px;
}

.run-another button {
  min-width: 100px;
}

#history table {
  width: 100%;
  margin: 0 auto;
}

#keyword {
  text-align: center;
}