body {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-form {
  max-width: 350px;
}

#search-form button {
  width: 100%;
}

#graph {
  width: 500px;
  height: 500px;
  border: 1px solid grey;
}