body {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-form {
  max-width: 350px;
}

#search-form button {
  width: 100%;
}

#progress img {
  display: block;
  margin: 30px auto;
}

#graph {
  width: 80vw;
  height: 80vh;
  border: 1px solid grey;
}